<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {{!-- Stylesheets & Fonts --}}
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {{!-- JavaScript --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/1b682b18f2.js" crossorigin="anonymous"></script>
  <script src="/public/js/util.js"></script>
  <title>Final Project</title>
</head>

{{!-- Body --}}

<body>
  {{!-- Navbar --}}
  {{>nav-bar}}
  {{!-- Main Post Body --}}
  {{{body}}}
  {{!-- Modal --}}
  {{>modal}}
  {{!-- Persistant Add Button --}}
  <div class="add-button-box" role="button" data-toggle="modal" data-target="#add-modal">
    <div class="add-button">
      <i class="fas fa-plus-square"></i>
    </div>
  </div>
</body>

</html>