:root {
    font-size: 16px;
    --bg-main: #202124;
    --color-primary: #3c4042;
    --color-secondary: #606368;
    --text-primary: #fcfcfc;
    --add-button-primary: #ea80fc;
    --add-button-hover: #ffb2ff;
    --add-button-active: #b64fc8;
}

html body {
    background-color: var(--bg-main);
}

i {
    padding: 5px;
}

.add-button-box {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1010;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.add-button-box .add-button {
    display: flex;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    justify-content: inherit;
    font-size: 32px;
    background: var(--add-button-primary);
    color: var(--text-primary) !important;
    box-shadow: 3px 4px 10px -2px rgba(0, 0, 0, .4);
    transition: background .3s ease, box-shadow .3s ease;
}

.add-button-box:hover .add-button {
    background: var(--add-button-hover);
}

.add-button-box:active .add-button {
    background: var(--add-button-active);
}

.navbar {
    background-color: var(--color-primary);
}

.card {
    background-color: var(--color-primary) !important;
    border: 0px !important;
    border-radius: .5rem !important;
    box-shadow: 3px 4px 10px -2px rgba(0, 0, 0, .4);
    color: var(--text-primary);
}

.card-body {
    border-bottom-right-radius: .5rem !important;
    border-bottom-left-radius: .5rem !important;
    background-color: var(--color-secondary);
}

.error-template {
    color: var(--text-primary);
    padding: 40px 15px;
    text-align: center;
}

.map-frame {
    position: relative;
    text-align: right;
    max-height: 500px;
    width: 100%;
    overflow: hidden;
    background: none !important;
    border-bottom-left-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
}

@media only screen and (max-height: 740px) {
    .map-frame {
        height: 250px;
    }
}